body {
  padding: 0;
  margin:0;
  background: black;
}

#gamecanvas {
  background: black;
  border: none;
}

#stats {
  font: 32px Helvetica;
  text-shadow: 0 0 1px #FFF;
  color: white;
  position: absolute;
  top: 5px;
  right: 10px;
}
